.highlight {
  background: rgba(0, 0, 0, 0.05);
  color: #4d4d4c;
  margin: 14px -14px 0;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0; }
  @media (min-width: 740px) {
    .highlight {
      margin-left: 0;
      margin-right: 0; } }
  .highlight table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0; }
    .highlight table th, .highlight table td {
      margin: 0;
      padding: 0; }
  .highlight figcaption {
    color: #ccc;
    font-size: 1.3rem;
    margin: 10px 15px -5px; }
    .highlight figcaption:before, .highlight figcaption:after {
      content: "";
      display: table; }
    .highlight figcaption:after {
      clear: both; }
    .highlight figcaption a {
      float: right; }
  .highlight pre {
    background: none;
    border: none;
    margin: 14px;
    max-height: none;
    overflow: visible;
    padding: 0; }
  .highlight .gutter {
    color: #ccc; }
    .highlight .gutter pre {
      margin-right: 0; }

pre .comment,
pre .title {
  color: #8e908c; }

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829; }

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f; }

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00; }

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00; }

pre .css .hexcolor {
  color: #3e999f; }

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae; }

pre .keyword,
pre .javascript .function {
  color: #8959a8; }

.theme-header {
  margin-left: -14px;
  margin-right: -14px;
  border-bottom: 1px solid #ddd; }

.theme-nav-item-icon {
  color: #777;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  width: 60px; }

.theme-nav-item-current .theme-nav-item-icon {
  color: inherit; }

.theme-nav-item-img {
  height: 30px;
  margin: 10px 15px;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%); }

.theme-nav-item-current .theme-nav-item-img {
  -webkit-filter: grayscale(0);
  /* Chrome, Safari, Opera */
  filter: grayscale(0); }

.theme-nav-item-current .theme-nav-item-link {
  border-bottom: 3px solid #0080ff;
  margin-bottom: -2px; }

.theme-pagination .page-number,
.theme-pagination .extend {
  padding: 0 7px;
  margin: 0 7px; }

.theme-pagination .page-number.current,
.theme-pagination .space {
  color: #777; }

.theme-sidebar-container {
  padding: 0 28px;
  width: 256px; }

.toc {
  list-style: none;
  padding-left: 0; }

.toc-child {
  list-style: none;
  padding-left: 1em; }

.toc-link {
  color: #777;
  text-decoration: underline; }

.theme-separator {
  margin: 0 .5em; }

.theme-title-link {
  color: #333;
  text-decoration: none; }

.theme-list-style-none {
  padding-left: 0;
  list-style: none; }


article > h1 {
    text-align: center;
}

