<hr class="top-gap-big">
<footer class="text-center">
    <small class="text-muted">
        ©<span itemprop="copyrightYear">2017</span>
        <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i>
        <span itemprop="copyrightHolder">涵曦</span>
        <br>
        主题<a class="text-muted" href="https://github.com/xcatliu/hexo-theme-mobi.css">Mobi.css</a>
    </small>
</footer>
