<!DOCTYPE html>
<html>

<head>
</head>

<body>

<div id="header">
    <div class="path-nav">
        {{#each paths}}
            <a href="{{path}}">{{name}}</a>&nbsp;»&nbsp;
        {{/each}}
    </div>
</div>

<div id="container">
    {{{note}}}
</div>

<div id="footer">
</div>

</body>

</html>
